body{
    background-color: #1A1E1C;
    color: white;
    font-family: mplus1;
    position: relative;
    padding: 0 0;
}
@font-face {
    font-family: mplus1;
    src: url(M_PLUS_1/static/MPLUS1-Regular.ttf);
}
.container{
    padding: 20px 40px 0 40px;
    margin: 0;
    position: relative;
    position: static;
}
.dora{
    position: absolute;
    right: 5px;
    top: 0;
    z-index: -1;
}
header{
    position: relative;
    width: 100%;
}
nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}
nav li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 16px;
    cursor: pointer;
}
nav li:hover{
    color: #2BB32A;
    transition: 0.5s;
}
nav h1{
    margin: 0;
    font-size: 20px;
}
nav button{
    color: #2BB32A;
    background-color: transparent;
    border: 1px solid #2BB32A;
    padding: 12px 32px;
    border-radius: 64px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 1.5px;
    font-family: mplus1;
}
nav button:hover{
    color: black;
    background-color: #2BB32A;
    transition: transform 1s cubic-bezier(.66,0,.34,1.00);
    transform:matrix(1);
    transition: 1s;
}
nav div {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
nav div img{
    vertical-align: middle;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 1;
}
#space{
    height: 128px;
    margin: 0;
    padding: 0;

}
.banner, .banner2, .banner3{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 35px;
}
.banner-left, .banner2-left, .banner3-left{
    width: 50%;
    align-content: center;
}

.banner-left h1 img{
    position: absolute;
    left: -16px;
    top: 80px;
}

.banner-left h1, .banner2-left h1, .banner3-right h1{
    font-size: 56px;
    margin: 0;
    position: relative;
}
.banner-left p, .banner2-left p , .banner3-right p{
    font-size: 18px;
    color: #ADB2B1;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    background-color: #2BB32A;
    border-radius: 64px;
    color: white;
    border: none;
    border: 1px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    font-family: mplus1;
    letter-spacing: 0.1em;
}
.btn:hover{
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid #2BB32A;
}
.banner-left div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner-left div p{
    margin: 16px;
}
.banner-left div span{
    font-weight: bold;
    display: block;
}
.banner-left div img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -15px;
    border: 2px solid white;
}
.banner-right, .banner2-right, .banner3-right{
    width: 50%;
    align-content: center;
}
.banner-right img, .banner2-right img, .banner3-left img{
    width: 100%;
}
.about{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 64px;
    border-radius: 32px;
    background: #3d544db0;
}
.about div h1{
    font-size: 48px;
    letter-spacing: -0.32px;
    margin: 0;
}
.about div p{
    font-size: 16px;
    color: #2BB32A;
    margin: 0;
}
.logo-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: gray;
}
.features h1{
    text-align: center;
    font-size: 40px;
}
.offer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px;
}
.allframe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
}
.offer-des{
    display: flex;
    flex-direction: column;
}
.offer-des h2{
    font-size: 24px;
    margin: 0;
}
.offer-des p{
    margin: 0;
    font-size: 16px;
    color: #ADB2B1;
    width: calc(1fr/3);
}
.banner2-left h1{
    font-size: 40px;
}
.banner2-left p{
    font-size: 16px;
}
.banner3-right h1{
    font-size: 40px;
}
.banner3-right p{
    font-size: 16px;
}
.banner3-right{
    order: 1;
}
.test{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px;
}
.feedback{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    justify-content: space-between;
    background-color: #27322fb2;
    border-radius: 32px;
    padding: 48px 24px;
}
.fd{
    display: flex;
    column-gap: 10px;
}
.test div div{
    margin: 0;
    padding: 0;
}
.test div div div>*{
    margin: 0;
    padding: 0;
}
.test div h1{
    font-size: 16px;
    background-color: #3D544D;
    width: fit-content;
    border-radius: 56px;
    padding: 16px;
}
.FAQs{
    margin: 0 auto;
    padding:  120px;
}
.FAQs h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.FAQs h2{
    font-size: 24px;
}
.FAQs p{
    font-size: 16px;
    color: #ADB2B1;
}
.d00{
    border-bottom: 1px solid white;
}
.FAQs div div{
    display: flex;
    justify-content: space-between;
}
.FAQs div div span{
    font-size: 30px;
    align-self: center;
    cursor: pointer;
    padding: 0;
    order: 2;
}
.download{
    display: flex;
    column-gap: 32px;
}
.dleft{
    width: 50%;
}
.line{
    padding: 16px;
    border-radius: 16px;
    background-color: #3D544D;
    width: 122px;
    height: 32px;
    margin: 10px;
}
footer{
    padding: 40px 0 20px 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-around;
}
.s1{
    width: 25%;
}
.s1 div{
    display: flex;
    column-gap: 10px;
}
#r{
    margin-top: 50px;
    font-size: 12px;
}
.s2{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.s2 ul p{
    font-weight: bold;
}
.s2 ul li{
    list-style-type: none;
    color: #ADB2B1;
    cursor: pointer;
}
.s2 ul li:hover{
    color: white;
    text-decoration: underline;
}